/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Wildcard selector, to override default styles imported from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

header {
    background-color: #fcd5ce;
    padding: 0 1rem;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 0 2px 1px #f8a799 /* #ffd4cc */ ;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-size: 8vw;
    text-align: center;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffffff;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
    color: #ffffff;
}

#menu > li {
    margin-bottom: 0.5em;
}

.active {
    /* border-bottom: 3px solid #ffffff; */
    font-weight: 800;
    font-size: 130%;
}

/* Navbar styling*/
 nav {
    position: absolute;
    background-color: #fcd5ce;
    width: 100%;
    left: 0;
    padding: 0 1.5rem;
    box-shadow: 0 2px 1px #f8a799 /* #ffd4cc */;
    display: none;
    top: 100%;
 }

 /* nav toggle */
 #nav-toggle:checked~nav {
    display: block;
 }

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1rem;
}

main {
    background-color: red;
    /* Make main content fill entire page */
    flex: 1 0 auto;
    margin-top: 64px;
}

footer {
    background-color: yellow;
}

/* media queries for tablets (768px) and larger screens */
@media screen and (min-width: 768px) {
    /* Header/navbar */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding: 0 2.5rem;
        text-align: center;
        flex: 1 0 auto;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 5vw;
        text-align: center;
        padding: 1rem 0;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

}