/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Wildcard selector, to override default styles imported from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

h1, h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffffff;
}

header {
    background-color: #fcd5ce;
    padding: 0 1rem;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 0 2px 1px #f8a799
        /* #ffd4cc */
    ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-size: 125%;
    text-align: center;
    padding: 0.75rem 0;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
    color: #ffffff;
}

#menu>li {
    margin-bottom: 0.5em;
}

.active {
    /* border-bottom: 3px solid #ffffff; */
    font-weight: 800;
    font-size: 130%;
}

/* Navbar styling*/
nav {
    position: absolute;
    background-color: #fcd5ce;
    width: 100%;
    left: 0;
    padding: 0 1.5rem;
    box-shadow: 0 2px 1px #f8a799
        /* #ffd4cc */
    ;
    display: none;
    top: 100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.8rem;
    position: absolute;
    top: 8px;
    right: 15px;
    color: #ffffff;
}

main {
    background-color: #fef2f0;
    /* Make main content fill entire page */
    flex: 1 0 auto;
    margin-top: 52px;
}

/* Hero section styling */

#hero {
    height: 450px;
    width: 100%;
    background: url("../images/hero.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    color: #f8a799;
    font-size: 2.8vw;
    font-style: italic;
    position: absolute;
    width: 80%;
    top: 25%;
    left: 10%;
}

#hero-quote-line-1 {
    text-align: left;
}

#hero-quote-line-2 {
    text-align: right;
}

.page-content {
    margin: 30px auto 40px auto;
    width: 80%;
}

.page-content p {
    margin: 10px auto;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
    margin: 10px auto;
}

.page-content h2, h3 {
    color: #f8a799;
    text-align: center;
    margin: 20px auto;
}

#contact {
    font-size: 110%;
}

#location-map {
    width: 100%;
    border: 0;
    margin: 10px auto 20px auto;
    border-radius: 4px;
    height: 50vw;
                        
}

#contact-info {
    text-align: center;
    margin: 0 0 20px 0;
}

.page-content a {
    text-decoration: none;
    color: inherit;
    font-size: 110%;
    font-weight: 700;
}

.page-content a:hover {
    border-bottom: 2px solid #000000;
}

#opening-hours {
    display: flex;
    margin: 10px 0;
}

#opening-hours-left {
    text-align: right;
    flex-basis: 50%;
}

#opening-hours-right {
    text-align: left;
    flex-basis: 50%;
    padding-left: 5px;
}

.so-me {
    background-color: #fcd5ce;
    text-align: center;
    padding: 22px 30px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#so-me-large-screen > .so-me {
    background-color: #fef2f0;
}

.so-me i {
    font-size: 160%;
    padding: 0;
    color: #ffffff
}

#so-me-large-screen {
    display: none;
}

#so-me-large-screen a:hover {
    border-bottom: none;
}

#bookings-form {
    display: flex;
    flex-wrap: wrap;
}

#bookings-form label:not(#phone-label,
    #email-label, #appointment-date-label,
    #appointment-time-label, #message-label) {
    display: block;
    margin-bottom: 8px;
    width: 50%;
    text-align: right;
}

#phone-label,
#email-label {
    display: block;
    margin-bottom: 8px;
    width: 21%;
    text-align: right;
}

#appointment-date-label,
#appointment-time-label {
    display: block;
    margin-bottom: 8px;
    width: 70%;
    text-align: right;
}

#message-label,
#space-before-button {
    display: block;
    margin-bottom: 8px;
    width: 40%;
    text-align: right;
    margin: 0;
}

#bookings-form label:after {
    content: " :";
    margin-right: 5px;
}

input,
textarea {
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 12px;
}

select {
    width: 30%;
    box-sizing: border-box;
    margin-bottom: 12px;
}

#message {
    width: 60%;
}

input[type="radio"] {
    width: 4%;
}

input[type="date"] {
    width: 30%;
}

button {
    background-color: #f8a799;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    color: #f8a799;
    font-weight: 800;
}

#bookings-info {
    margin: 30px 0;
}

/* media queries for very small mobiles, to stop overlapping in header */
@media screen and (max-width: 350px) {
    #logo {
        font-size: 105%;
    }

    .nav-toggle-label {
        font-size: 1.5rem;
    }

    main {
        margin-top: 48px;
    }

    #menu {
        font-size: 95%;
    }

    #cover-text {
        width: 90%;
        left: 5%;
    }

    #bookings-form-div {
        font-size: 85%;
    }
}

/* media queries for tablets (768px) and larger screens */
@media screen and (min-width: 768px) {

    /* Header/navbar */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
    }

    #menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menu>li {
        display: flex;
        padding: 0;
        text-align: center;
        flex: 1 0 auto;
        margin: 0.25em 0;
        align-items: center;
        justify-content: center;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 300%;
        text-align: center;
        padding: 1rem 0;
        line-height: 50px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    main {
        margin-top: 124px;
    }

    #about-us {
        display: flex;
        justify-content: space-between;
    }

    #about-us>div {
        width: 47%;
    }

    .homepage-image-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #about-us-image {
        height: 90%;
        object-position: 80% 40%;
        margin-bottom: 0;
    }

    #our-goals {
        display: flex;
        justify-content: space-between;
    }

    #our-goals {
        flex-direction: row-reverse;
    }

    #our-goals > div {
        width: 47%;
    }

    #our-goals-image {
        height: 90%;
        object-position: 30% 0;
        margin-bottom: 0;
    }

    #contact-text {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    #contact-text > div {
        width: 48%;
        font-size: 110%;
    }

    #location-map {
        height: 40vw;
        max-height: 400px;
    }

    #so-me-large-screen {
        display: unset;
    }

    #so-me-large-screen i {
        font-size: 250%;
        color: #f8a799;
    }

    .so-me i {
        font-size: 200%;
        padding: 10%;
    }


    #cover-text {
        font-size: 2.5vw;
        width: 70%;
        left: 15%;
    }

    #footer-home {
        display: none;
    }

}

/* media queries for desktop (992px) and larger screens */
@media screen and (min-width: 992px) {

    /* Adding underline to page navigation */
    #menu a:hover {
        border-bottom: 2px solid #ffffff;
    }

    /* Removing underline from current/active page, to reinforce it is the current page */
    #menu .active:hover {
        border-bottom: none;
    }

    .page-content > section {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #about-us>div, #our-goals>div {
        width: 44%;
    }

    .treatments .page-content {
        width: 70%;
    }

    .treatments .page-content section div {
        margin: 30px 0;
    }

    .treatments-image img {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .bookings .page-content >div  {
        display: flex;
        justify-content: space-between;
    }

    #bookings-info {
        width: 38%;
    }

    #bookings-form-div {
        width: 60%;
    }

    #bookings-form label:not(#phone-label,
    #email-label, #appointment-date-label,
    #appointment-time-label, #message-label) {
        width: 30%
    }
    
    
        #appointment-date-label,
        #appointment-time-label {
            display: block;
            margin-bottom: 8px;
            width: 50%;
            text-align: right;
        }
    
        #message-label,
        #space-before-button {
            display: block;
            margin-bottom: 8px;
            width: 20%;
            text-align: right;
            margin: 0;
        }
    
        #bookings-form label:after {
            content: " :";
            margin-right: 5px;
        }
    
        input,
        textarea {
            width: 70%;
            box-sizing: border-box;
            margin-bottom: 12px;
        }
    
        select {
            width: 50%;
            box-sizing: border-box;
            margin-bottom: 12px;
        }
    
        #message {
            width: 80%;
        }
    
        input[type="radio"] {
            width: 4%;
        }
    
        input[type="date"] {
            width: 50%;
        }

    

}